extends include/layouts/default-ux

mixin linkedImage( project, image )
  if image.permission == 'private' && showPrivate === false
    .thumb-wrapper.private
      img.thumb(src='/images/projects/' + project.name + '/' + image.thumbnail)
      .message
        div.icon.fa.fa-lock
        div.text Sensitive business material
        div.actions
          a.active.btn.btn-primary.btn-xs.action.unlockButton(data-toggle="modal",data-target="#unlockModal") Unlock
  else if image.pdf
    .thumb-wrapper.pdf
      a(href='/images/projects/' + project.name + '/' + image.name, target="_blank")
        img.thumb(src='/images/projects/' + project.name + '/' + image.thumbnail)

  else
    .thumb-wrapper
      a(href='/ux/image-viewer/images/projects/' + project.name + '/' + image.name)
        img.thumb(src='/images/projects/' + project.name + '/' + image.thumbnail)




mixin linkedImageWithWidth( project, image )
  - var widthClass
  if ( image.width == undefined )
    .col-sm-4
      +linkedImage(project, image )
  else
    div(class='col-sm-' + image.width )
      +linkedImage(project, image )



block body
  section.project-page
    .row
      .col-sm-4.col-sm-push-8.rail
        if project.image.thumbnail
          +linkedImage( project, project.image )
      .col-sm-8.col-sm-pull-4
        h2= project.title
        p.lead!= project.description
          if project.role
            small!= 'Role: ' + project.role

        if project.problem
          h3 Problem
          .problem.content!= md(project.problem)

        if project.opportunity
          h3 Opportunity
          .problem.content!= md(project.opportunity)
        
        if project.process
          h3 Process
          .results.content!= md(project.process)

        if project.results
          h3 Results
          .results.content!= md(project.results)

        if project.progress
          h3 Results
          .results.content!= md(project.progress)

        if project.tools
          h4 Tools
          ul.tools.condensed
            each tool in project.tools
              li.tool
                strong!= tool.name
                span.function!= ' (' + tool.function + ')'


    if project.prototypes
      h4 Prototypes
      ul.tools
        each prototype in project.prototypes
          li
            a(href=prototype.link,target='_blank')
              span!=prototype.description
              &nbsp
              i.fa.fa-external-link

    if project.images
      .between
      .row.images
        each image in project.images
          +linkedImageWithWidth(project, image)

    if project.imageSets
      .between
      .row.images
        each set in project.imageSets
          .col-sm-12
            h3= set.title
            if set.lead
              p.lead!= set.lead
          each image in set.images
            +linkedImageWithWidth(project, image)


  #unlockModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unlockModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#myModalLabel.modal-title Unlock Sensitive Business Material
          .modal-body
            form(role='form')
              .form-group
                label(for='unlockCode') Enter unlock code
                input(type='email', class='form-control', id='unlockCode', name='unlockCode')
              a#requestUnlockLink(href='#') Request an unlock code

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary(type='button') Done
