extends include/layouts/default-ux

mixin imageContent( project, image, widthClass )
  div(class=widthClass)
    .thumb-wrapper
      a(href='/images/projects/' + project.name + '/' + image.name)
        img.thumb(src='/images/projects/' + project.name + '/' + image.thumbnail)

mixin image( project, image )
  if ( image.width == undefined )
    +imageContent(project, image, 'col-sm-4' )
  else
    +imageContent(project, image, 'col-sm-' + image.width )
    

  

block body
  section.project-page
    .row
      .col-sm-4.col-sm-push-8.rail
        if project.thumbnail
          a(href='/images/projects/' + project.name + '/' + project.image)
            img.hero(src='/images/projects/' + project.name + '/' + project.thumbnail)
      .col-sm-8.col-sm-pull-4
        h2= project.title
        p.lead!= project.description

        if project.problem
          h3 Problem
          .problem.content!= md(project.problem)
        
        if project.results
          h3 Results
          .results.content!= md(project.results)

        if project.progress
          h3 Results
          .results.content!= md(project.progress)

        if project.tools
          h4 Tools
          ul.tools
            each tool in project.tools
              li.tool
                strong!= tool.name
                span.function!= ' (' + tool.function + ')'


    if project.images
      .between
      .row.images
        each image in project.images
          +image(project, image)

    if project.imageSets
      .between
      .row.images
        each set in project.imageSets
          .col-sm-12
            h3= set.title
            if set.lead
              p.lead!= set.lead
          each image in set.images
            +image(project, image)